/DspFiles/nbproject/private/
/DspFiles/build/
/PSD_TRABALHO_1/nbproject/private/
/PSD_TRABALHO_1/build/
/produto/nbproject/private/
/produto/build/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/dist/
/JavaFXApplication3/build/
/ProdutoFx/nbproject/private/
/ProdutoFx/build/
/ProdutoFx/dist/
/TDD Kent Beck Java/nbproject/private/
/TDD Kent Beck Java/build/